<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div id="list">
		<div class="fixed-bar">
			<div class="item-title">
				<div class="subject">
					<h3>配送城市管理</h3>
				</div>
			</div>
		</div>
		<!-- 操作说明 -->
		<div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
			<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
				<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
				<span title="收起提示" id="explanationZoom" style="display: block;"></span>
			</div>
			<ul>
				<li></li>
			</ul>
		</div>
	<div id="add_region">
		<div class="page">
			<div class="fixed-bar">
				<div class="item-title"><a class="back" onclick="window.history.back(-1)" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
					<div class="subject">
						<h3>配送城市设置 - 新增</h3>
					</div>
				</div>
			</div>
			<form id="add_region_form" method="post" action="{:U('Tools/region_edit')}">
				<input type="hidden" name="id" value="{$info.id}">
				<div class="ncap-form-default">
					<notempty name="parent_path">
						<dl class="row">
							<dt class="tit">
								<label for="name"><em></em>上级区域:</label>
							</dt>
							<dd class="opt"><label for="name">{$parent_path}</label></dd>
						</dl>
					</notempty>
					<dl class="row">
						<dt class="tit">
							<label for="name"><em>*</em>地区名</label>
						</dt>
						<dd class="opt">
							<input id="name" name="name" value="{$info.name}" maxlength="20" class="input-txt" type="text">
							<span class="err"></span>
							<p class="notic"></p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
							<label for="code"><em>*</em>地区代码</label>
						</dt>
						<dd class="opt">
							<input id="code" name="code" value="{$info.code}" maxlength="6" class="input-txt" type="text">
							<span class="err"></span>
							<p class="notic"></p>
						</dd>
					</dl>
					<if condition="$info.level eq 2">
					
					<dl class="row">
						<dt class="tit">
							<label for="limit_money"><em>*</em>最低购买限额</label>
						</dt>
						<dd class="opt">
							<input id="limit_money" name="limit_money" value="{$info.limit_money}" maxlength="6" class="input-txt" type="text">
							<span class="err"></span>
							<p class="notic"></p>
						</dd>
					</dl>
					
					<dl class="row">
						<dt class="tit">
							<label for="delivery_range"><em>*</em>配送范围</label>
						</dt>
						<dd class="opt">
							<input id="delivery_range" name="delivery_range" value="{$info.delivery_range}" maxlength="6" class="input-txt" type="text">
							<span class="err"></span>
							<p class="notic">单位：km</p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
							<label><em>*</em>经纬度坐标</label>
						</dt>
						<dd class="opt">
							<div style="padding-bottom: 10px;" class="list">
								<input id="address_input" type="text" name="address" value="{$info.address}" placeholder="点击地图显示地址/输入地址显示位置" style="width: 300px;">
								<input id="longitude" type="text" name="longitude" value="{$info.longitude}" placeholder="经度" readonly="readonly" style="width: 120px;">
								<input id="latitude" type="text" name="latitude" value="{$info.latitude}" placeholder="纬度" readonly="readonly" style="width: 120px;">
								<input id="city_code" type="hidden" placeholder="城市编码" readonly="readonly" style="width: 80px;">
							</div>
							<div id="mapContainer" style="height: 500px;"></div>
							<p class="notic">详细地址</p>
						</dd>
					</dl>
					</if>
					<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="$('#add_region_form').submit();">确认提交</a></div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 高德地图 -->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=e4e3ea6a620450b47bd7e2be728d240a"></script>
<script type="text/javascript">
	var longitude = {$pickup.longitude ? $pickup.longitude : 0},
		latitude = {$pickup.latitude ? $pickup.latitude : 0};
	var params = {
            resizeEnable: true,
            zoom: 13,
            center: [116.39,39.9]
    };
    if(longitude != '0' && latitude != '0') params.center=[longitude, latitude];
    var map = new AMap.Map('mapContainer',params);
    AMap.plugin('AMap.Geocoder',function(){
        var geocoder = new AMap.Geocoder({
            // city: "010"//城市，默认：“全国”
        });
        var marker = new AMap.Marker({
            map:map,
            bubble:true
        })
        var address_input = document.getElementById('address_input');
        var longitude = document.getElementById('longitude');
        var latitude = document.getElementById('latitude');
        var city_code = document.getElementById('city_code');
        // var message = document.getElementById('message');
        map.on('click',function(e){
          marker.setPosition(e.lnglat);
            geocoder.getAddress(e.lnglat,function(status,result){
              if(status=='complete'){
                // debugger;
                 address_input.value = result.regeocode.formattedAddress // 设置地址
                 longitude.value = e.lnglat.lng; // 设置经度
                 latitude.value = e.lnglat.lat; // 设置纬度
                 city_code.value = result.regeocode.addressComponent.citycode // 设置城市编码
                 // message.innerHTML = ''
              }else{
                 // message.innerHTML = '无法获取地址'
                longitude.value = ''; // 设置经度
                latitude.value = ''; // 设置纬度
                city_code.value = '' // 设置城市编码
              }
            })
        })

        address_input.onchange = function(e){
            var address = address_input.value;
            geocoder.getLocation(address,function(status,result){
              if(status=='complete'&&result.geocodes.length){
                // debugger;
                marker.setPosition(result.geocodes[0].location);
                map.setCenter(marker.getPosition())
                longitude.value = result.geocodes[0].location.lng; // 设置经度
                latitude.value = result.geocodes[0].location.lat; // 设置纬度
                city_code.value = result.geocodes[0].addressComponent.citycode // 设置城市编码
                message.innerHTML = ''

              }else{
                message.innerHTML = '无法获取位置'
                longitude.value = ''; // 设置经度
                latitude.value = ''; // 设置纬度
                city_code.value = '' // 设置城市编码
              }
            })
        }

    });
</script>
</body>
</html>