<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
			<div class="subject">
				<h3>自提点管理 - 编辑自提点</h3>
				<h5>网站系统自提点管理</h5>
			</div>
		</div>
	</div>
	<form class="form-horizontal" id="handleForm" action="{:U('Admin/Pickup/add')}" method="post">
		<input name="pickup_id" type="hidden" value="{$pickup['pickup_id']}" />
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>自提点名称</label>
				</dt>
				<dd class="opt">
					<input type="text"  name="pickup_name" value="{$pickup.pickup_name}" class="input-txt">
					<p class="notic">自提点名称</p>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label>自提点联系人</label>
				</dt>
				<dd class="opt">
					<input type="text" name="pickup_contact" placeholder="自提点联系人" value="{$pickup.pickup_contact}" class="input-txt">
					<p class="notic"></p>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>自提点电话</label>
				</dt>
				<dd class="opt">
					<input type="text" name="pickup_phone" value="{$pickup.pickup_phone}" onpaste="this.value=this.value.replace(/[^\d-]/g,'')" onKeyUp="this.value=this.value.replace(/[^\d-]/g,'')" class="input-txt">
					<p class="notic"></p>
				</dd>
			</dl>
            <dl class="row">
                <dt class="tit">
                    <label>图片上传</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="{$pickup.image}">
                                <i id="img_i" class="fa fa-picture-o" onMouseOver="layer.tips('<img src={$pickup.image}>',this,{tips: [1, '#fff']});" onMouseOut="layer.closeAll();"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="imagetext" name="image" value="{$pickup.image}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','goods','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">请上传图片格式文件</p>
                </dd>
            </dl>
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>自提点地址</label>
				</dt>
				<dd class="opt">
					<select name="province_code" id="province" onchange="get_city(this)">
						<option value="0">请选择</option>
						<volist name="province" id="p">
							<option <if condition="$pickup['province_code'] eq $p['code']">selected</if>  value="{$p.code}">{$p.name}</option>
						</volist>
					</select>
					<select name="city_code" id="city" onchange="get_area(this)">
						<option  value="0">请选择</option>
						<volist name="city" id="p">
							<option <if condition="$pickup['city_code'] eq $p['code']">selected</if>  value="{$p.code}">{$p.name}</option>
						</volist>
					</select>
					<!-- <select name="district_code" id="district">
						<option  value="0">请选择</option>
						<volist name="district" id="p">
							<option <if condition="$pickup['district_code'] eq $p['code']">selected</if>  value="{$p.code}">{$p.name}</option>
						</volist>
					</select> -->
					<p class="notic">自提点地址</p>
				</dd>
			</dl>
			<!-- <dl class="row">
				<dt class="tit">
					<label><em>*</em>供货商</label>
				</dt>
				<dd class="opt">
					<select name="suppliersid" id="suppliers_id">
						<option  value="0">不选则无供货商{$pickup['suppliers_id']}</option>
						<volist name="suppliers" id="s">
							<option <if condition="$pickup['suppliersid'] eq $s['suppliers_id']">selected="selected"</if>  value="{$s.suppliers_id}">{$s.suppliers_name}</option>
						</volist>
					</select>
					<p class="notic">供货商</p>
				</dd>
			</dl> -->
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>详细地址</label>
				</dt>
				<dd class="opt">
					<textarea name="pickup_address" id="address" placeholder="详细地址" class="tarea" rows="6">{$pickup.pickup_address}</textarea>
					<p class="notic">详细地址</p>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>经纬度坐标</label>
				</dt>
				<dd class="opt">
					<div style="padding-bottom: 10px;" class="list">
						<input id="address_input" type="text" placeholder="点击地图显示地址/输入地址显示位置">
						<input id="longitude" type="text" name="longitude" placeholder="经度" readonly="readonly" style="width: 120px;">
						<input id="latitude" type="text" name="latitude" placeholder="纬度" readonly="readonly" style="width: 120px;">
						<input id="city_code" type="hidden" placeholder="城市编码" readonly="readonly" style="width: 80px;">
					</div>
					<div id="mapContainer" style="height: 500px;"></div>
					<p class="notic">详细地址</p>
				</dd>
			</dl>
			<div class="bot"><a onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
	</form>
</div>
<script type="text/javascript">
	function checkForm(){
		var pickup_name = $('input[name="pickup_name"]').val();
		var province_code = $('select[name="province_code"]').find('option:selected').val();
		var city_code = $('select[name="city_code"]').find('option:selected').val();
		var district_code = $('select[name="district_code"]').find('option:selected').val();
		var pickup_address = $('textarea[name="pickup_address"]').val();
		var pickup_phone = $('input[name="pickup_phone"]').val();
		var error = '';
		if(pickup_name == ''){
			error += '自提点名称不能为空 <br/>';
		}
		if(province_code==0){
			error += '请选择省份 <br/>';
		}
		if(city_code==0){
			error += '请选择城市 <br/>';
		}
		// if(district_code==0){
		// 	error += '请选择区域 <br/>';
		// }
		if(pickup_address == ''){
			error += '请填写地址 <br/>';
		}
		if(error){
			//alert(error);
			layer.alert(error, {icon: 2});
			//	layer.msg('只想弱弱提示');
			return false;
		}
		$('#handleForm').submit();
	}
</script>
<!-- 高德地图 -->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=e4e3ea6a620450b47bd7e2be728d240a"></script>
<script type="text/javascript">
	var longitude = {$pickup.longitude ? $pickup.longitude : 0},
		latitude = {$pickup.latitude ? $pickup.latitude : 0};
	var params = {
            resizeEnable: true,
            zoom: 13,
            center: [116.39,39.9]
    };
    if(longitude != '0' && latitude != '0') params.center=[longitude, latitude];
    var map = new AMap.Map('mapContainer',params);
    AMap.plugin('AMap.Geocoder',function(){
        var geocoder = new AMap.Geocoder({
            // city: "010"//城市，默认：“全国”
        });
        var marker = new AMap.Marker({
            map:map,
            bubble:true
        })
        var address_input = document.getElementById('address_input');
        var longitude = document.getElementById('longitude');
        var latitude = document.getElementById('latitude');
        var city_code = document.getElementById('city_code');
        // var message = document.getElementById('message');
        map.on('click',function(e){
          marker.setPosition(e.lnglat);
            geocoder.getAddress(e.lnglat,function(status,result){
              if(status=='complete'){
                // debugger;
                 address_input.value = result.regeocode.formattedAddress // 设置地址
                 longitude.value = e.lnglat.lng; // 设置经度
                 latitude.value = e.lnglat.lat; // 设置纬度
                 city_code.value = result.regeocode.addressComponent.citycode // 设置城市编码
                 // message.innerHTML = ''
              }else{
                 // message.innerHTML = '无法获取地址'
                longitude.value = ''; // 设置经度
                latitude.value = ''; // 设置纬度
                city_code.value = '' // 设置城市编码
              }
            })
        })

        address_input.onchange = function(e){
            var address = address_input.value;
            geocoder.getLocation(address,function(status,result){
              if(status=='complete'&&result.geocodes.length){
                // debugger;
                marker.setPosition(result.geocodes[0].location);
                map.setCenter(marker.getPosition())
                longitude.value = result.geocodes[0].location.lng; // 设置经度
                latitude.value = result.geocodes[0].location.lat; // 设置纬度
                city_code.value = result.geocodes[0].addressComponent.citycode // 设置城市编码
                message.innerHTML = ''

              }else{
                message.innerHTML = '无法获取位置'
                longitude.value = ''; // 设置经度
                latitude.value = ''; // 设置纬度
                city_code.value = '' // 设置城市编码
              }
            })
        }

    });



    function img_call_back(fileurl_tmp)
    {
        $("#imagetext").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>