<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
    <table>
        <tbody>
        <volist name="pickupList" id="list">
            <tr pickup_id="{$list.pickup_id}">
                <!-- <td class="sign">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td> -->
                <td align="left" class="">
                    <div style="text-align: center; width: 30px;">{$list.pickup_id}</div>
                </td>
                <td align="left" class="">
                    <div style="width: 150px;">{$list.pickup_name|getSubstr=0,33}</div>
                </td>
                <td align="left" class="" title="{$list.pickup_address}">
                    <div style="width: 180px;">{$list.pickup_address|getSubstr=0,33}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 100px;">{$list.pickup_phone}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 80px;">{$list.pickup_contact}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 80px;">{$list.city_name}</div>
                </td>
               <!--  <td align="left" class="">
                   <div style="text-align: center; width: 80px;">{$list.district_name}</div>
               </td> -->
                <td align="left" class="">
                    <div style="text-align: center; width: 60px;">
                        <select name="status" class="status">
                            <option value="1" <if condition="$list.status eq 1">selected=selected</if>>待审核</option>
                            <option value="2" <if condition="$list.status eq 2">selected=selected</if>>已通过</option>
                            <option value="3" <if condition="$list.status eq 3">selected=selected</if>>已拒绝</option>
                        </select>
                    </div>
                </td>
                <!-- <td align="center" axis="col0">
                                  <div style="text-align: center; width: 60px;">
                                    <if condition='$list[is_open] eq 1'>
                                      <span class="yes" onClick="changeTableVal('pick_up','pickup_id','{$list.pickup_id}','is_open',this)" ><i class="fa fa-check-circle"></i>是</span>
                                      <else />
                                      <span class="no" onClick="changeTableVal('pick_up','pickup_id','{$list.pickup_id}','is_open',this)" ><i class="fa fa-ban"></i>否</span>
                                    </if>
                                  </div>
                                </td> -->                
                <td align="center" class="handle">
                    <div style="text-align: center; width: 100px; max-width:170px;">
                        <a class="btn blue" href="{:U('Admin/Pickup/edit_address',array('pickup_id'=>$list['pickup_id']))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
                        <!-- <a class="btn red"  href="javascript:void(0)" onclick="del('{$list[pickup_id]}')" ><i class="fa fa-trash-o"></i>删除</a> -->
                    </div>
                </td>
                <td align="" class="" style="width: 100%;">
                    <div>&nbsp;</div>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<!--分页位置-->
{$page}
<script>
    $(document).ready(function(){
       

         // 修改状态
        $('.status').change(function(){
            var pickup_id = $(this).parents('tr').attr('pickup_id');
            var status = $(this).val();

            $.ajax({
                url: "index.php/admin/pickup/ajaxChangeStatus/pickup_id/"+pickup_id+"/status/"+status,
                type: 'get',
                success:function(data){
                    layer.msg('操作成功');
                }
            })
        })
        $('#count').empty().html("{$pager->totalRows}");
    });
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });

    // 删除操作
    function del(id)
    {
        if(!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            url:"/index.php?m=Admin&c=Pickup&a=del&pickup_id="+id,
            success: function(v){
                var v =  eval('('+v+')');
                if(v.hasOwnProperty('status') && (v.status == 1))
                    ajax_get_table('search-form2',cur_page);
                else
                    layer.msg(v.msg, {icon: 2,time: 1000}); //alert(v.msg);
            }
        });
        return false;
    }
</script>