<!DOCTYPE html>
<html dir="ltr" lang="cn">
<head>
    <meta charset="UTF-8" />
    <title>配货单打印</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="__PUBLIC__/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <style media="print" type="text/css">
        .noprint{display:none}
    </style>
</head>
<body>
<div class="container" style="width: 350px; padding: 0;">
    <div style="page-break-after: always;">
        <table>
            <tr>
                <td><img src="__PUBLIC__/static/images/logo/logo.png" alt=""></td>
                <td><div style="font-size: 24px; margin-left: 70px;">海豹超市</div></td>
            </tr>
        </table>
        <table class="table table-bordered" style="font-size: 16px;">
            <tr style="height: 70px;">
                <td style="width: 30px; vertical-align: middle; font-size: 24px;">收</td>
                <td style="">
                    <div>收货人：<span style="font-size: 18px;">{$order.consignee}</span></div>
                    <div>电话：<span style="font-size: 18px;">{$order.mobile}</span></div>
                    <div>收货地址： {$order.send_method == 2 ? $order['pickup']['pickup_name'] : $order.full_address}</div>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td colspan="2">
                    <div>订单编号：{$order.order_sn}</div>
                    <div>配送方式：<if condition="$order.send_method eq 1">送货上门<else/>门店自提</if></div>
                    <div>用户备注：{$order.user_note}</div>
                    <div>购买时间：{:date('Y-m-d', $order.add_time)}</div>
                </td>
            </tr>
            <tr style="height: 30px">
                <td colspan="2">
                    <div>配送员：{$order.expressInfo.nickname}  电话：{$order.expressInfo.mobile}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div><b>商品信息</b></div>
                    <table>
                         <volist name="$order.orderGoods" id="good">
                        <tr>
                            <td style="width: 260px">{$good.goods_name}</td>
                            <td>x{$good.goods_num}</td>
                        </tr>
                        </volist>
                        <tr>
                            <td colspan="2" align="right">共{$order.total_num}件</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2">
                    <div><span style="font-size: 16px;">海豹超市</span>{$order.deliveryInfo.name}</div>
                    <!-- <div>服务电话：0412-5330228</div> -->
                </td>
            </tr>
            <tbody>
            <tr>
               
        </table>
        <table>
            <tr>
                <td><img src="__PUBLIC__/static/images/logo/logo.png" alt=""></td>
                <td><div style="font-size: 24px; margin-left: 200px;">核</div></td>
            </tr>
        </table>
        <table class="table table-bordered" style="font-size: 16px;">
            <tr style="height: 70px;">
                <td style="width: 30px; vertical-align: middle; font-size: 24px;">收</td>
                <td style="">
                    <div>收货人：<span style="font-size: 18px;">{$order.consignee}</span></div>
                    <div>电话：<span style="font-size: 18px;">{$order.mobile}</span></div>
                    <div>收货地址： {$order.send_method == 2 ? $order['pickup']['pickup_name'] : $order.full_address}</div>
                </td>
            </tr>
            <tr style="height: 80px; font-size: 14px;">
                <td colspan="2">
                    <div>订单编号：{$order.order_sn}</div>
                    <div>配送方式：<if condition="$order.send_method eq 1">送货上门<else/>门店自提</if>
                    <span style="margin-left: 5px">支付方式：{$order.pay_name}</span>
                    </div>
                    <!-- <div></div> -->
                    <div>用户备注：{$order.user_note}</div>
                    <div>购买时间：{:date('Y-m-d', $order.add_time)}</div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2">
                    <div>配送员：{$order.expressInfo.nickname}  电话：{$order.expressInfo.mobile}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div><b>商品信息</b></div>
                    <table>
                         <volist name="$order.orderGoods" id="good">
                        <tr>
                            <td style="width: 260px">{$good.goods_name}</td>
                            <td>x{$good.goods_num}</td>
                        </tr>
                        </volist>
                        <tr>
                            <td colspan="2" align="right">共 {$order.total_num} 件</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2">
                    <table>
                        <tr style="text-align: center;">
                            <td width="90px">共 {$order.total_num} 件</td>
                            <td width="90px">实付：{$order.order_amount}</td>
                            <td width="90px">实收：{$order.real_amount}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2">
                    <div><span style="font-size: 16px;">海豹超市</span> {$order.deliveryInfo.name}</div>
                    <!-- <div>服务电话：0412-5330228</div> -->
                </td>
            </tr>
            <tbody>
            <tr>
               
        </table>
    </div>
</div>
</body>
</html>